body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #ffffff;
  padding: 40px 60px;
}

.name {
  font-family: "Raleway";
  font-size: 22px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.menu a {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu span {
  color: #eb5757;
}

nav {
  display: flex;
  justify-content: space-between;
}

.main-photo img {
  display: block;
  width: 100%;
  height: auto;
}

.btn-1 {
  background-color: #eb5757;
  color: white;
  border: none;
  padding: 10px 50px;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
}

.btn-2 {
  background-color: #ffffff;
  color: #eb5757;
  border: none;
  padding: 10px 40px;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section {
  background: url("./8b67d89949d7bbb36792b9a824e3ed67078b2188.jpg");
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.name-2 {
  font-size: 80px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Raleway";
  margin: 0;
}

.text-hero {
  font-size: 40px;
  font-weight: 400;
  font-family: "Open Sans";
  color: #ffffff;
  margin: 0;
  padding-bottom: 20px;
}

.text-main p {
  background-color: #eb5757;
  color: white;
  margin: 0;
  max-width: 100%;
  padding: 50px 100px;
  font-size: 15px;
  font-family: "Open Sans";
  text-align: center;
  letter-spacing: 0px;
}

.card img {
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  padding: 20px 200px;
}
.name-3 {
  text-align: center;
  font-family: "Raleway";
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.text {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 60%;
  text-align: center;
}

.red-line-1 {
  background-color: #eb5757;
  width: 20px;
  height: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-artist-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 250px;
  text-align: center;
  margin-bottom: 20px;
}
.gallery-photos img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.gallery-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 50px 100px;
}
.hero-section-2 {
  background-color: #eb57571a;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tickets-section {
  background-color: rgb(243, 241, 241);
}

.red-line {
  background-color: #eb5757;
  width: 20px;
  height: 3px;
  display: flex;
  justify-content: center;
}
.tickets-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tickets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  padding: 20px 0;
}

.tickets {
  border: 1px solid #0000001a;
  width: 300px;
  height: 280px;
  padding: 20px;
  text-align: center;
  box-shadow: #0000001a;
  background-color: white;
}

.day-ticket {
  border-bottom: 1px solid #0000001a;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Raleway";
}
.price {
  display: flex;
  text-align: center;
  justify-content: center;
}
.action-buy {
  background-color: #eb5757;
  border: none;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 40px;
  cursor: pointer;
}

.price-red {
  color: #eb5757;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Raleway";
}

.price p {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Raleway";
}

.map-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.map {
  width: 800px;
  height: 200px;
}
.map-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eb57571a;
  padding: 50px;
}
.contact-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-form label {
  text-align: left;
  font-size: 14px;
  width: 100%;
  font-size: "Open Sans";
  padding-top: 10px;
}

.registration-form input {
  width: 300px;
  height: 30px;
  border: none;
}

.registration-form {
  padding: 50px;
}

.btn-contact {
  background-color: #eb5757;
  border: none;
  color: #ffffff;
  width: 200px;
  font-size: 14px;
  padding: 10px 40px;
  cursor: pointer;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.contact {
  background-color: rgb(243, 241, 241);
}

footer p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}
footer div .menu {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 @media (max-width: 768px)  {
    nav {
    
        flex-direction: column;
        width: 100%;
    }

    header {
        width: 100%;
        padding: 0;
    }

    .gallery-photos img {
    width: 300px;
       height: 300px;
    
    
    }
    .gallery-photos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    .map-title {
        justify-content: center;
        align-items: center;
    }

    .map-title p {
        text-align: center;
    }

    footer {
        flex-direction: column;
        width: 100%;

    }
    .menu {
       max-width: 100%;
        gap: 10px;
        font-size: 8px;
        padding: 10px;
        margin: 0 auto;
    }

    .name {
        padding: 20px;
    }

    .btn {
        display: flex;
        flex-direction: column;
    }

    .btn-1 {
        margin-bottom: 10px;
    }
    .text-hero {
        font-size: 30px;
        padding: 10px;
        text-align: center;
    }

    .name-2 {
        text-align: center;
font-size: 58px;
    }
    .text-main p {
        padding: 30px;
    }
 }