body {
margin: 0;
padding: 0;
}
header {
    background-color:#FFFFFF ;
    padding: 40px 60px;
}

.name {
    font-family: "Raleway";
   font-size: 22px;
   font-weight: 700;
   display: flex;
   justify-content: center;
  
}

.menu a {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    color: #222222;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.menu span {
    color: #EB5757;
}

nav {
    display: flex;
    justify-content: space-between;
}


.main-photo img {
    display: block;
    width: 100%;
    height: auto;
}

.btn-1 {
    background-color: #EB5757;
    color: white;
    border: none;
    padding: 10px 50px;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
}

.btn-2 {
    background-color: #FFFFFF;
    color: #EB5757;
    border: none;
    padding: 10px 40px;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.hero-section {
    background: url( './8b67d89949d7bbb36792b9a824e3ed67078b2188.jpg');
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name-2 {
    font-size: 80px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: "Raleway";
    margin: 0;
}

.text-hero {
    font-size: 40px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 20px;
}

.text-main p {
    background-color: #EB5757;
    color: white;
    margin: 0;
    max-width: 100%;
    padding: 50px 100px;
    font-size: 15px;
    font-family: "Open Sans";
    text-align: center;
    letter-spacing: 0px;
}

.card img {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    width: 150px;
    height: 150px;
    object-fit: cover;
   
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;

  
}
.name-3 {
    text-align: center;
    font-family: "Raleway";
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
}

.text-3 p {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 60%;
    text-align: center;
   
}
.text-3 {
    display: flex;
    justify-content: center;
    
}

.card {
width: 250px;
text-align: center;
margin-bottom: 20px;
}

